<!-- <app-input ></app-input>
 <app-input></app-input> -->
<!-- <app-form-contol></app-form-contol> --> 

<section class="container">
    <div class="holiday">
        <app-holiday header="all Holidays" [holidayList]="allHolidays" button1="float" button2="plan" (shiftHolidayEvent)="toggleHoliday($event)"></app-holiday>
    </div>
    <div class="holiday">
        <app-holiday header="floating Holidays" [holidayList]="floatingHolidays" button1="plan" button2="all" (shiftHolidayEvent)="toggleHoliday($event)"></app-holiday>
    </div>
    <div class="holiday">
        <app-holiday header="planned Holidays" [holidayList]="plannedHolidays" button1="float" button2="all" (shiftHolidayEvent)="toggleHoliday($event)"></app-holiday>
    </div>
</section>





