<h1>{{header}}</h1>
<div class="holiday-name" *ngFor="let holiday of holidayList">
    <span>{{holiday.holidayName}}</span>
    <app-button (onClick)="toggleHoliday(holiday.id, button1)">{{button1}}</app-button>
    <app-button (onClick)="toggleHoliday(holiday.id, button2)">{{button2}}</app-button>
</div>